@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-lavender: hsl(242, 27%, 76%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* This is done to make rem calculation easy.
     62.5% of 16px is 10px
  */
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.container {
  max-width: 600px;
  height: 350px;
  display: flex;
  background: var(--color-white);
  border-radius: 20px;
  margin: 2rem;
  box-shadow: 0 0 10px 1px hsl(221, 100%, 96%);
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 0;
  }
}

/* Result */
.result {
  width: 50%;
  text-align: center;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: var(--color-lavender);
  padding: 2.5rem 1rem;
  border-radius: 20px;
}

.result h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-white);
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  margin: 2rem auto;
  padding: 2.5rem;
  text-align: center;
}

.circle h2 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-white);
}

.circle p {
  font-size: 1.2rem;
}

.description {
  width: 70%;
  font-size: 1.2rem;
  margin: 1rem auto;
}

@media screen and (max-width: 375px) {
  .result {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .description {
    width: 60%;
  }
}

/* Summary */
.summary {
  width: 50%;
  background: var(--color-white);
  padding: 2.5rem;
  text-align: left;
  border-radius: 5px 20px 20px 5px;
}

.summary h1 {
  margin-bottom: 2rem;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.topic {
  display: flex;
}

.topic-icon {
  width: 20%;
  margin-right: 0.8rem;
}

.topic-name,
.score,
.btn {
  font-size: 1.4rem;
}

.score span {
  margin-right: 0.5rem;
  font-weight: 800;
  color: #0e0e0e;
}

.score:last-of-type {
  color: #ccc;
}

.red {
  background: hsla(0, 100%, 67%, 0.08);
}

.red .topic-name {
  color: hsl(0, 100%, 67%);
}

.yellow {
  background: hsla(39, 100%, 56%, 0.08);
}

.yellow .topic-name {
  color: hsl(39, 100%, 56%);
}

.green {
  background: hsla(166, 100%, 37%, 0.08);
}

.green .topic-name {
  color: hsl(166, 100%, 37%);
}

.blue {
  background: hsla(234, 85%, 45%, 0.08);
}

.blue .topic-name {
  color: hsl(234, 85%, 45%);
}

.btn {
  width: 100%;
  background: hsl(224, 30%, 27%);
  color: var(--color-white);
  font-family: inherit;

  padding: 1rem;
  margin: 1.5rem auto;
  border: 0;
  border-radius: 40px;
  outline: 0;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

@media screen and (max-width: 375px) {
  .summary {
    width: 100%;
  }

  .category {
    margin-bottom: 1.5rem;
  }

  .btn {
    margin-top: 0.8rem;
    font-size: 1.6rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
